body {
  color: #6F6F6F;
  font-family: 'Droid Sans', 'Helvetica', 'sans';
  font-size: 12pt;
  margin: 2ex 2em;

}

h1, h2, h3, h4 {
  color: #003366;
  text-indent: 50px;
}


div#datetime {
  font-size: 80%;
  text-align: right;
}

li.nav {
    float: left;
    display: inline;
}

a.nav:link, a.nav:visited {
    display: block;
    width: 185px;
    font-weight: bold;
    color: #e5f2ff;
    background-color: #6F6F6F;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    
}

a.nav:hover, a.nav:active {
    background-color: #669999;
}

ul.nav {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
}

a {
	 color: #000000;
	 text-decoration: none;
}
li
{
	float: left;
}

table.t1 {
	max-width:500px;
	margin: 25px 50px 25px 50px;
	padding: 15px;
    border-collapse: collapse;
    width: 50%;
}

th.t1, td.t1 {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th.t1{
	background-color: #99ccff;
    color: #000000;
    height: 25px;
}
table.t2 {
	max-width:500px;
	margin: 25px 50px 25px 100px;
	padding: 15px;
    border-collapse: collapse;
    width: 50%;
}

th.t2, td.t2 {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th.t2{
    color: #000000;
    height: 25px;
}

input.button2{
	background-color: #e5f2ff;
	hover: #99ccff;
	width: 120px;
    margin-left: 500px;
}
tr:hover{background-color:#e5f2ff}

p.paragraf{
	margin-left: 25px;
}

input.button{
	background-color: #e5f2ff;
	hover: #99ccff;
	width: 120px;
    margin-left: 35px;
}

input.button:hover, input.button:active {
    background-color: #669999;
}
