{% extends "layout.html" %}
 {% block title %}Competition add form{% endblock %}
 {% block content %}
 <form action="{{ url_for('competitions_page') }}"  method="post">
	<table class="t2">
 		<tr class="t2">
 			<th class="t2">Competition name:</th>
 			<td class="t2">
 				<input type="text" name="compname" required autofocus />
 			</td>
 		</tr>
 		<tr class="t2">
			<th class="t2">Number of swimmers:</th>
			<td class="t2">
 				<input type="text" name="snumber" required autofocus/>
			</td>
		</tr>
		<tr class="t2">
			<th class="t2">Location:</th>
			<td class="t2">
 				<input type="text" name="location" required autofocus />
			</td>
		</tr>
			<tr class="t2">
			<th class="t2">Prize:</th>
			<td class="t2">
 				<input type="text" name="prize" required autofocus />
			</td>
		</tr>
</table>
<input class="button2" value="Save" name="save" type="submit" />
</form>
{% endblock %}
