{% extends "layout.html" %}
 {% block title %}Lowest Scores Update Form{% endblock %}
 {% block content %}
 <form action="{{ url_for('lowrecor_update') }}" method="post">
 <table class="t1">
 {% for key, LowRecor in LowRecors %}
 <tr>
<td><input type="checkbox" name="lowrecor_to_update"
value="{{ key }}" /></td>
 <td>
<a href="{{ url_for('lowrecor_page', key=key) }}">
{{ LowRecor.name }} {{ LowRecor.recor }}
</a>
</td>
 </tr>
{% endfor %}
<table>
 <th>Name:</th>
 <td>
 <input  type="text" name="name" required autofocus />
 </td>
 </tr>
 <tr>
 <th>Lowest Score:</th>
<td>
 <input type="text" name="lowrecor" size="4" />
</td>
</tr>
</table>
<input value="Update" name="update" type="submit" />
</form>
{% endblock %}
