{% extends "layout.html" %}
 {% block title %}Search Olympics{% endblock %}
 {% block content %}
 <form action="{{ url_for('olympic_search') }}" method="post">
<table class="t1">
<tr>
 <th>Please enter the full name for searching</th>
 <td>
 <input type="text" name="word" required autofocus />
 </td>
 </tr>
</table>
<input class="button" value="Search" name="search" type="submit" />
</form>
<form action="{{ url_for('olympic_search') }}" method="post">
 <table class="t1">
 <tr class="t1">
<th class="t1">FullName </th>
<th class="t1">#SwimmerId </th>
<th class="t1">Year</th>
<th class="t1">#PoolId</th>

</tr>
 {% for key, Olympic in Olympics %}
<tr>
 <td class="t1">
({{Olympic.Fullname}}
</td>
<td class="t1">
{{ Olympic.SwimmerId }}
</td>
<td class="t1">
{{Olympic.Year}}
</td>
<td class="t1">
{{Olympic.Poolid}})
</td>

 </tr>
{% endfor %}
{% endblock %}
