 {% extends "layout.html" %}
 {% block title %}Record Update Form{% endblock %}
 {% block content %}
 <form action="{{ url_for('olympic_update') }}" method="post">
 <table class="t1">
 {% for key, Olympic in Olympics %}
 <tr>
<td><input type="checkbox" name="olympics_to_update"
value="{{ key }}" /></td>
 <td>
<a href="{{ url_for('olympic_page', key=key) }}">
({{Olympic.Fullname}} {{ Olympic.SwimmerId }} {{Olympic.Year}} {{Olympic.Poolid}})
</a>
</td>
 </tr>
{% endfor %}
<table class="t1">
 <th>Fullname:</th>
 <td>
 <input type="text" name="Fullname" required autofocus />
 </td>
 </tr>
 <tr>
 <th>SponsorId::</th>
 <td>
 <input type="text" name="SwimmerId" required autofocus />
 </td>
 </tr>
 <tr>
 <th>Year:</th>
<td>
 <input type="text" name="Year" size="4" />
</td>
</tr>
 <tr>
 <th>Pool ID:</th>
<td>
 <input type="text" name="Poolid" size="4" />
</td>
</tr>
</table>
<input class="button" value="Update" name="update" type="submit" />
</form>
{% endblock %}