{% extends "layout.html" %}
 {% block title %}Search Olympics{% endblock %}
 {% block content %}
 <form action="{{ url_for('olympic_search') }}" method="post">
<table class="t1">
<tr>
 <th>Enter the Keyword for Searching</th>
 <td>
 <input type="text" name="word" required autofocus />
 </td>
 </tr>
</table>
<input class="button" value="Search" name="search" type="submit" />
</form>
<form action="{{ url_for('olympic_search') }}" method="post">
 <table>
 {% for key, Olympic in Olympics %}
<tr>
<td>
<a href="{{ url_for('olympic_page', key=key) }}">
({{Olympic.Fullname}} {{ Olympic.SwimmerId }} {{Olympic.Year}} {{Olympic.Poolid}})
</a>
</td>
 </tr>
{% endfor %}
{% endblock %}
