{% extends "layout.html" %}
{% block title %}Open water Update Form{% endblock %}
{% block content %}

<form action="{{ url_for('openw_update',key=key) }}" method="post">

<table class="t2">
 	<th class="t2">Competition:</th>
		<td class="t2">
 			<input  type="text" name="competition" required autofocus />
 		</td>
 	</tr>
 	<tr class="t2">
		<th class="t2">Winner:</th>
			<td class="t2">
 				<input  type="text" name="winnerid" required autofocus />
 			</td>
 	</tr>
 	<tr class="t2">
		<th class="t2">Year:</th>
			<td class="t2">
 				<input  type="text" name="year" size="4" />
 			</td>
 		</tr>
 	<tr>
</table>
	<input class="button2" value="Update" name="update" type="submit" />
</form>

{% endblock %}
