{% extends "layout.html" %}
 {% block title %}Openwater add form{% endblock %}
 {% block content %}
 <form action="{{ url_for('openwater_page') }}" method="post">
	<table class="t2">
 		<tr class="t2">
 			<th class="t2">Competition id:</th>
 			<td class="t2">
 				<input type="text" name="compid" required autofocus />
 			</td>
 		</tr>
 		<tr class="t2">
			<th class="t2">Winnerid:</th>
			<td class="t2">
 				<input type="text" name="winnerid" required autofocus/>
			</td>
		</tr>
		<tr class="t2">
			<th class="t2">Year:</th>
			<td class="t2">
 				<input type="text" name="year" size="4" />
			</td>
		</tr>
</table>
<input class="button2" value="Save" name="save" type="submit" />
</form>
{% endblock %}
