{% extends "layout.html" %}
 {% block title %}Openwater add form{% endblock %}
 {% block content %}
 <form action="{{ url_for('openw_add') }}">
	<table class="t1">
 		<tr>
 			<th>Competition name:</th>
 			<td>
 				<input type="text" name="competition" required autofocus />
 			</td>
 		</tr>
 		<tr>
			<th>Winnerid:</th>
			<td>
 				<input type="text" name="winnerid" required autofocus/>
			</td>
		</tr>
		<tr>
			<th>Year:</th>
			<td>
 				<input type="text" name="year" size="4" />
			</td>
		</tr>
</table>
<input value="Save" name="save" type="submit" />
</form>
{% endblock %}
