
{% extends "layout.html" %}
{% block title %}Search Open Water{% endblock %}
{% block content %}
<form action="{{ url_for('openw_search') }}" method="post">
	<table class="t2">
		<tr class="t2">
 			<th class="t2">Enter the Keyword for search:</th>
			<td class="t2">
 				<input type="text" name="word" required autofocus />
 			</td>
 		</tr>
	</table>
	<input class="button" value="Search" name="search" type="submit" />
</form>

<form action="{{ url_for('openw_search') }}" method="post">
	<table class="t1">
	{% for key, Openw in Openwater %}
		<tr>
 			<td>
				<a href="{{ url_for('openwater_page', key=key) }}">
				{{ Openw.comp }} ({{ Openw.year }}) - {{ Openw.winner }}
				</a>
			</td>
 		</tr>
	{% endfor %}
{% endblock %}
