{% extends "layout.html" %}
 {% block title %}Person Update Form{% endblock %}
 {% block content %}
 <form action="{{ url_for('person_update') }}" method="post">
 <table>
 {% for key, Person in Persons %}
 <tr>
<td><input type="checkbox" name="person_to_update"
value="{{ key }}" /></td>
 <td>
<a href="{{ url_for('person_page', key=key) }}">
{{ Person.cntry }} {{ Person.time }}
</a>
</td>
 </tr>
{% endfor %}
<table>
 <th>Country:</th>
 <td>
 <input  type="text" name="cntry" required autofocus />
 </td>
 </tr>
 <tr>
 <th>Time:</th>
<td>
 <input type="text" name="time" size="4" />
</td>
</tr>
</table>
<input value="Update" name="update" type="submit" />
</form>
{% endblock %}
