 {% extends "layout.html" %}
 {% block title %}Pools Search Form{% endblock %}
 {% block content %}
 <form action="{{ url_for('pools_search') }}" method="post">
<table>
<tr>
 <th>Enter the Keyword for search:</th>
 <td>
 <input type="text" name="keywords" required autofocus />
 </td>
 </tr>
</table>
<input value="Save" name="save" type="submit" />
</form>
<form action="{{ url_for('pools_search') }}" method="post">
 <table>
 {% for key, Pool in Pools %}
<tr>
 <td>
<a href="{{ url_for('pool_page', key=key) }}">
{{ Pool.Id }} ({{Pool.Poolname}} {{ Pool.City }} {{Pool.Area}})
</a>
</td>
 </tr>

{% endblock %}