 {% extends "layout.html" %}
 {% block title %}Record Update Form{% endblock %}
 {% block content %}
 <form action="{{ url_for('pool_update') }}" method="post">
 <table class="t1">
 {% for key, Pool in Pools %}
 <tr>
<td><input type="checkbox" name="pools_to_update"
value="{{ key }}" /></td>
 <td>
<a href="{{ url_for('pool_page', key=key) }}">
({{Pool.Id}} {{ Pool.Poolname }} {{Pool.City}} {{Pool.Area}})
</a>
</td>
 </tr>
{% endfor %}
<table class="t1">
 <th>ID:</th>
 <td>
 <input type="text" name="Id" required autofocus />
 </td>
 </tr>
 <tr>
 <th>Pool Name:</th>
 <td>
 <input type="text" name="Poolname" required autofocus />
 </td>
 </tr>
 <tr>
 <th>City:</th>
<td>
 <input type="text" name="City" size="4" />
</td>
</tr>
 <tr>
 <th>Area:</th>
<td>
 <input type="text" name="Area" size="4" />
</td>
</tr>
</table>
<input class="button" value="Update" name="update" type="submit" />
</form>
{% endblock %}