{% extends "layout.html" %}
 {% block title %}Search Pools{% endblock %}
 {% block content %}
 <form action="{{ url_for('pool_search') }}" method="post">
<table class="t1">
<tr>
 <th>Enter the Keyword for Searching</th>
 <td>
 <input type="text" name="word" required autofocus />
 </td>
 </tr>
</table>
<input class="button" value="Search" name="search" type="submit" />
</form>
<form action="{{ url_for('pool_search') }}" method="post">
 <table class = "t1">
<tr class="t1">
<th class="t1">#Poolid </th>
<th class="t1">Pool Name</th>
<th class="t1">City</th>
<th class="t1">Area</th>
</tr>
 {% for key, Pool in Pools %}
 <tr>

<td class="t1">
{{ Pool.Id }}
</td>
<td class="t1">
{{Pool.Poolname}}
</td>
<td class="t1">
{{ Pool.City }}
</td>
<td class="t1">
{{Pool.Area}}
</td>


 </tr>
{% endfor %}
{% endblock %}
