 {% extends "layout.html" %}
 {% block title %}Record Update Form{% endblock %}
 {% block content %}
 <form action="{{ url_for('pool_update') }}" method="post">
<table class = "t1">
<tr class="t1">
<th class="t1">Update </th>
<th class="t1">#Poolid </th>
<th class="t1">Pool Name</th>
<th class="t1">City</th>
<th class="t1">Area</th>

</tr>
 {% for key, Pool in Pools %}
 <tr>
<td><input type="checkbox" name="pools_to_update"
value="{{ key }}" /></td>


<td class="t1">
{{ Pool.Id }}
</td>
<td class="t1">
{{Pool.Poolname}}
</td>
<td class="t1">
{{ Pool.City }}
</td>
<td class="t1">
{{Pool.Area}}
</td>


 </tr>
{% endfor %}
<table class="t1">
 <th>ID:</th>
 <td>
 <input type="text" name="Id" required autofocus />
 </td>
 </tr>
 <tr>
 <th>Pool Name:</th>
 <td>
 <input type="text" name="Poolname" required autofocus />
 </td>
 </tr>
 <tr>
 <th>City:</th>
<td>
 <input type="text" name="City" size="4" />
</td>
</tr>
 <tr>
 <th>Area:</th>
<td>
 <input type="text" name="Area" size="4" />
</td>
</tr>
</table>
<input class="button" value="Update" name="update" type="submit" />
</form>
{% endblock %}