 {% extends "layout.html" %}
 {% block title %}Record Update Form{% endblock %}
 {% block content %}
 <form action="{{ url_for('record_update') }}" method="post">
 <table>
 {% for key, Record in Records %}
 <tr>
<td><input type="checkbox" name="records_to_update"
value="{{ key }}" /></td>
 <td>
<a href="{{ url_for('record_page', key=key) }}">
{{ Record.name }} {{ Record.rec }}
</a>
</td>
 </tr>
{% endfor %}
<table>
 <th>Name:</th>
 <td>
 <input type="text" name="name" required autofocus />
 </td>
 </tr>
 <tr>
 <th>Record:</th>
<td>
 <input type="text" name="rec" size="4" />
</td>
</tr>
</table>
<input value="Update" name="update" type="submit" />
</form>
{% endblock %}
