{% extends "layout.html" %}
{% block title %}Records{% endblock %}
{% block content %}<h2>Record List</h2>
<a href="{{ url_for('record_edit')}}">Add Records</a>

<form action="{{ url_for('records_page') }}" method="post">
 <table>
 {% for key, Record in Records %}
 <tr>
<td><input type="checkbox" name="records_to_delete"
value="{{ key }}" /></td>
 <td>
<a href="{{ url_for('record_page', key=key) }}">
{{ Record.name }} {{ Record.rec }}
</a>
</td>
 </tr>
{% endfor %}
</table>
<input type="submit" value="Delete" name="delete" />
<input type="button" value="Update" name="update" onclick="location.href='Records/update2';" />
<input type="button" value="Search" name="update" onclick="location.href='Records/search2';" />
</form>

<h2>High Score List for records</h2>
<a href="{{ url_for('recor_edit')}}">Add High Scores</a>

<form action="{{ url_for('recor_page') }}" method="post">
 <table>
 {% for key, Recor in Recors %}
 <tr>
<td><input type="checkbox" name="recor_to_delete"
value="{{ key }}" /></td>
 <td>
<a href="{{ url_for('recor_page', key=key) }}">
{{ Recor.name }} {{ Recor.recor }}
</a>
</td>
 </tr>
{% endfor %}
</table>
<input type="submit" value="Delete" name="delete" />
<input type="button" value="Update" name="update" onclick="location.href='Records/update21';" />
<input type="button" value="Search" name="update" onclick="location.href='Records/search21';" />
</form>
{% endblock %}
