{% extends "layout.html" %}
 {% block title %}Search Records{% endblock %}
 {% block content %}
 <form action="{{ url_for('record_search') }}" method="post">
<table class="t1">
<tr>
 <th>Enter the Keyword for record:</th>
 <td>
 <input type="text" name="word" required autofocus />
 </td>
 </tr>
</table>
<input class="button" value="Search" name="search" type="submit" />
</form>
<form action="{{ url_for('record_search') }}" method="post">
 <table>
 {% for key, Record in Records %}
<tr>
<td>
<a href="{{ url_for('record_page', key=key) }}">
{{ Record.title }} ({{ Record.year }})
</a>
</td>
 </tr>
{% endfor %}
{% endblock %}
