{% extends "layout.html" %}
{% block title %}Sponsors{% endblock %}
{% block content %}<h1>List of Sponsors</h1>
<a href="{{ url_for('sponsor_edit')}}">Add New Sponsors</a>
<a href="{{ url_for('sponsor_update2')}}">Update Sponsors</a>
<a href={{ url_for('sponsor_search2')}}>Search Sponsors</a>
<form action="{{ url_for('sponsors_page') }}" method="post">
 <table class="t1">
<tr class="t1">
<th class="t1">Delete </th>
<th class="t1">#id </th>
<th class="t1">Sponsor Name</th>
<th class="t1">Starting Year</th>

</tr>
 {% for key, Sponsor in Sponsors %}
 <tr class="t1">
<td class="t1"><input type="checkbox" name="deletesponsors"
value="{{ key }}" /></td>
<td class="t1">
{{Sponsor.Sponsorid}}
</td>
<td class="t1">
{{Sponsor.Swimmername }}
</td>
<td class="t1">
{{Sponsor.Birthyear}}
</td>
 </tr>
{% endfor %}
</table>
<input type="submit" value="Delete" name="delete" />
</form>
{% endblock %}

