{% extends "layout.html" %}
 {% block title %}Search Sponsors{% endblock %}
 {% block content %}
 <form action="{{ url_for('sponsor_search') }}" method="post">
<table class="t1">
<tr>
 <th>Enter the Sponsor name for Searching</th>
 <td>
 <input type="text" name="word" required autofocus />
 </td>
 </tr>
</table>
<input class="button" value="Search" name="search" type="submit" />
</form>
<form action="{{ url_for('sponsor_search') }}" method="post">
 <table>
<tr class="t1">
<th class="t1">#id </th>
<th class="t1">Sponsor Name</th>
<th class="t1">Starting Year</th>

 {% for key, Sponsor in Sponsors %}
<tr>
<td>
<td class="t1">
{{Sponsor.Sponsorid}}
</td>
<td class="t1">
{{Sponsor.Swimmername }}
</td>
<td class="t1">
{{Sponsor.Birthyear}}
</td>
 </tr>
{% endfor %}
</td>
 </tr>
{% endblock %}
