{% extends "layout.html" %}
{% block title %}Styles{% endblock %}
{% block content %}<h2>Style List</h2>
<a href="{{ url_for('style_edit')}}">Add Styles</a>

<form action="{{ url_for('styles_page') }}" method="post">
 <table>
 {% for key, Style in Styles %}
 <tr>
<td><input type="checkbox" name="styles_to_delete"
value="{{ key }}" /></td>
 <td>
<a href="{{ url_for('style_page', key=key) }}">
{{ Style.title }} {{ Style.year }}mt
</a>
</td>
 </tr>
{% endfor %}
</table>
<input type="submit" value="Delete" name="delete" />
<input type="button" value="Update" name="update" onclick="location.href='Styles/update2';" />
<input type="button" value="Search" name="update" onclick="location.href='Styles/search2';" />
</form>

<h2>Highest Record</h2>
<a href="{{ url_for('person_edit')}}">Add Best Score</a>
<form action="{{ url_for('person_page') }}" method="post">
 <table>
 {% for key, Person in Persons %}
 <tr>
<td><input type="checkbox" name="person_to_delete"
value="{{ key }}" /></td>
 <td>
<a href="{{ url_for('person_page', key=key) }}">
{{ Person.cntry }} {{ Person.time }}
</a>
</td>
 </tr>
{% endfor %}
</table>
<input type="submit" value="Delete" name="delete" />
<input type="button" value="Update" name="update" onclick="location.href='Person/update2';" />
<input type="button" value="Search" name="update" onclick="location.href='Person/search2';" />
</form>
{% endblock %}
