{% extends "home.html" %}

{% block content %}
	<table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Record</th>
          <th>Name</th>
          <th>Type</th>
          <th>Style</th>
        </tr>
      </thead>
      <tbody>
      	{% if records %}
	      	{% for i in records %}
	      	<tr>
	      	    <td>{{ i.id }}</td>
	      		<td>{{ i.name }}</td>
	      		<td>{{ i.type }}</td>
	      		<td>{{ i.weight }}</td>
	      		<td>{{ i.height }}</td>
	      	</tr>
	        {% endfor %}
        {% else %}
        	<tr>
	          <td colspan="5" align="center">No players found.</td>
	        </tr>
        {% endif %}
      </tbody>
    </table>
{% endblock %}